@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700');

body {
    background: url( ./background.jpg ) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* -- Add MH Logo -- */
#adminmenuwrap::before {
    content: "";
    background-color: rgba( 0,0,0, 0.2 );
    background-image: url( ./logo-mh.png );
    background-repeat: no-repeat;
    background-size: 130px 60px;
    background-position: center center;
    width: 160px;
    height: 110px;
    position: absolute;
    left: 0;
    top: 0;
}

#adminmenu {
    margin-top: 110px;
}

#adminmenu a.menu-top {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 32px;
}

/* Hide Footer */
#wpfooter { display: none; }

/* Remove background of many elements */
#adminmenuwrap,
#adminmenuwrap *,
#adminmenu > li.wp-has-current-submenu,
#adminmenu > li.wp-has-current-submenu:hover,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu
{ background: transparent !important; }

/* Currently Selected Sidebar item */
#adminmenu li.menu-top:not(.wp-has-current-submenu):hover,
#adminmenu li.wp-has-current-submenu ul.wp-submenu
{ background: rgba( 0,0,0, 0.2 ) !important; }

/* Fix icon ( make smaller ) */
#adminmenu a.menu-top .wp-menu-image { margin-top: 9px; }
#adminmenu a.menu-top .wp-menu-image::before { font-size: 0.9rem; }

/* Align sub-menu with header */
#adminmenu li.wp-has-current-submenu ul.wp-submenu > li a,
#adminmenu li.wp-has-current-submenu ul.wp-submenu > li a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    line-height: 0.9rem;
}

#adminmenu li.wp-has-current-submenu ul.wp-submenu { padding: 0; }
#adminmenu li.wp-has-current-submenu ul.wp-submenu > li { padding: 4px 8px 4px 23px; }
#adminmenu li.wp-has-current-submenu ul.wp-submenu > li:hover,
#adminmenu li.wp-has-current-submenu ul.wp-submenu > li.current {
    background: rgba( 0,0,0, 0.2 ) !important;
}

#adminmenu li.wp-has-submenu:not(.wp-has-current-submenu) ul.wp-submenu {
    background: rgba( 0,0,0, 0.68 ) !important;
    box-shadow: none;
}

#adminmenu .wp-menu-separator { display: none; }

/* Replace sidebar arrows with borders */
#adminmenu li.menu-top:hover::after { display: none; }
ul#adminmenu a.wp-has-current-submenu::after,
ul#adminmenu > li.current > a.current::after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    margin: 0;
    border: 0;
    border-right: 6px solid #BBBBFF;
}

ul#adminmenu > li.wp-has-current-submenu > a.wp-has-current-submenu { background: rgba( 255,255,255, 0.1 ) !important; }

/* Set semi-transparent backgrounds */
#adminmenuback
{ background: rgba( 0,0,0, 0.6 ); }
